.footer .brand-color-two {
  color: $ter-brand;
}

.footer-address {
  color: $ft-text;
  font-style: normal;
}

.address {
  margin-top: 20px;
  width: 231px;
}

.footer .list-box {
  color: $footer-contacts;
  font-style: normal;
}

.address .list {
  margin-top: 9px;
}