@mixin flex-align($display:flex, $align-items:center, $justify-content:flex-start, $flex-direction:row) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}