/*index_companies*/
.reg-customers {
  &__cards {
    margin-left: -30px;
  }
    &__card {
      flex-basis: calc(100% / 6 - 30px);
      margin-left: 30px;
    }
  
}

.company-label {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;

  &:hover,
  &:focus {
      @extend %border-focus;

      & .company-icon {
        fill: $accent;
      }
  }
}