/*index_common */
.first-title,
.our-works__title,
.team-card__title,
.team-card__profession {
  text-align: center;
}

.our-features__list:not(:first-child),
.our-works__list:not(:first-child),
.our-team__card:not(:first-child) {
  margin-left: 30px;
}

.our-features__title,
.our-team__title {
  margin-bottom: 10px;
}

.our-features__title,
.social-container__title,
.subscribe-form__title{
  text-transform: uppercase;
  line-height: 1.172;
  font-size: inherit;
}
