/*index_features*/
.features .list {
  width: 270px;
}
.feature-box {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: $sec-section-bgc;
  width: 270px;
  height: 120px;
}