/*index_features*/
.our-features {
  &__list {
    width: 270px;
  }

  &__box {
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: $sec-section-bgc;
    width: 270px;
    height: 120px;
  }
}